@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;500&display=swap');

body {
    background: #f8f8f8;
    font-family: 'DM Mono', monospace;
    font-weight: lighter;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.time_left--ctn {
    position: absolute;
    right: 50%;
    bottom: 53.5%;
    transform: translate(50%, 50%);
    line-height: 1;
    color: #000;
}

#time_left {
    font-size: 16vw;
    font-weight: bold;
    text-shadow: 0.35vw 0.35vw 0 rgba(0,0,0,0.2), 0.7vw 0.7vw 0 rgba(0,0,0,0.1);
}

#time_left--period {
    font-size: 2vw;
    text-shadow: 0.1vw 0.1vw 0 rgba(0,0,0,0.2), 0.2vw 0.2vw 0 rgba(0,0,0,0.1);
}

.progress_bar--ctn {
    height: 2vw;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    position: absolute;
    left: 0;
    bottom: 0;
}


#credit {
    color: rgba(0, 0, 0, 0.15);
    font-size: 1.5vw;
    position: absolute;
    right: 1vw;
    bottom: 2.5vw;
}

#progress_bar {
    height: inherit;
    background: #000;
}