@font-face {
     font-family: "Clash Display";
     src: url("../src/ttf/ClashDisplay-Variable.ttf");
}

@font-face {
     font-family: "Switzer";
     src: url("../src/ttf/Archivo-Variable.ttf");
}

body {
     --background: #fcfcfc;
     background: var(--background);
     --color: #0c0c0c;
     color: var(--color);
     font-family: "Clash Display";
     font-weight: 400;
}

a {
     text-decoration: none;
     color: var(--color);
}

#time {
     /* center */
     position: absolute;
     top: 53%;
     left: 50.5%;
     transform: translate(-50%, -50%);
}

#time__left {
     font-family: "Switzer";
     font-weight: 700;
     font-size: 18vw;
}

#time__period {
     font-size: 1vw;
     font-weight: 700;
     /* place above time */
     position: relative;
     bottom: 24vw;
     right: 2vw;
}

#time__greeting {
     font-size: 1vw;
     /* place below time */
     position: relative;
     bottom: 7.25vw;
     right: 2vw;
}

#time__date {
     font-size: 1vw;
     /* place below greeting */
     position: relative;
     bottom: 7.25vw;
     right: 2vw;
}

#settings {
     /* place in bottom left */
     position: absolute;
     bottom: .5vw;
     left: .75vw;
}

#settings__list {
     font-size: .75vw;
     position: relative;
     bottom: .25vw;
     right: 8vw;
     z-index: -1;
}

#settings__list__mode--light:hover, #settings__list__mode--dark:hover {
     cursor: pointer;
}

#settings__list__cover {
     background: var(--background);
     width: 1.9vw;
     height: 1vw;
     position: absolute;
     bottom: .25vw;
     left: -1vw;
     border-radius: 1vw;
}

.bold {
     font-weight: 700;
}

#settings__icon {
     width: 1vw;
     height: 1vw;
     transition: transform 1s;
     position: absolute;
     bottom: .25vw;
     left: 0vw;
     z-index: 1;
}

#settings__icon:hover {
     cursor: pointer;
}

.rotated {
     transform: rotate(360deg);
}

#credit {
     font-size: 1vw;
     opacity: 0.25;
     /* place in bottom right */
     position: absolute;
     bottom: .5vw;
     right: .75vw;
     transition: opacity 0.25s;
}

#credit:hover {
     opacity: 1;
}