@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Space+Grotesk:wght@700&display=swap');

html,
body {
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    background: black;
    overflow: hidden;
}

h1 {
    opacity: 0;
    animation: fadein .5s 3s forwards;
}

p {
    position: relative;
    bottom: 18vw;
    font-size: 15vw;
}

a {
    color: rgb(100, 100, 255);
    text-decoration-thickness: .5vw;
    text-underline-offset: .3vw;
}

.vis {
    width: 80vw;
    height: 35vw;
    backdrop-filter: blur(.1vw);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.fa-brands {
    position: absolute;
    top: 35.75vw;
    right: 12.75vw;
    font-size: 2vw;
    text-decoration: none;
}

.ctn {
    opacity: 0;
    animation: fadein .5s 3s forwards;
}

.hi {
    font-size: 1.5vw;
    position: absolute;
    top: 8vw;
    left: 15vw;
}

.desc {
    position: absolute;
    top: 27.5vw;
    left: 15vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 2vw;
}

.split {
    width: 76vw;
    height: .1vw;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 34.5vw;
    left: 12vw;
}

.proj {
    position: absolute;
    top: 35.5vw;
    left: 15vw;
    font-size: 2.5vw;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}